<app-loader *ngIf="isSubmitted"></app-loader>

<div class="container mt-5">
  <div class="row m-1">
    <div class="col-md-6 border border-dark rounded offset-md-2 shadow">
      <div class="text-center m-4">
        <h4><u>Update Password</u></h4>
      </div>

      <form [formGroup]="updPasswordForm" (ngSubmit)="onSubmit()">

        <div class="form-group mb-2">
          <label class="small fw-bold">Old Password</label>
          <input type="password" class="form-control"
          placeholder="Please enter you old password" formControlName="oldPassword"/>
          <small *ngIf="!getOldPassword.valid && (getOldPassword.touched || isSubmitted)" class="text-danger text-start">
            <span *ngIf="getOldPassword.hasError('required')">Old password is required.</span>
          </small>
        </div>

        <div class="form-group mb-2">
          <label class="small fw-bold">New Password</label>
          <input type="password" class="form-control"
          placeholder="Please select a password" formControlName="newPassword"/>
          <small *ngIf="!getNewPassword.valid && (getNewPassword.touched || isSubmitted)" class="text-danger text-start">
            <span *ngIf="getNewPassword.hasError('required')">Password field is required.</span>
            <span *ngIf="getNewPassword.errors?.['minlength']">Minimum length is 3 characters.</span>
          </small>
        </div>

        <div class="form-group mb-2">
          <label class="small fw-bold">Confirm Password</label>
          <input type="password" class="form-control"
          placeholder="Please confirm your password" formControlName="confirmPassword"/>

          <small class="text-danger">
            <span *ngIf="!getConfirmPassword.valid && getConfirmPassword.errors?.['required'] && (getConfirmPassword.touched || isSubmitted)">
              Confirm password field is required.
            </span>
            <span *ngIf="updPasswordForm.errors?.['notmatched'] && getConfirmPassword.valid">
              Password and Confirm password not matched.
            </span>
          </small>
        </div>

        <div class="form-group m-2 text-center">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>

      </form>
    </div>
  </div>

</div>
