<!-- needs to install the following library and register "InfiniteScrollModule" in app.module.ts
npm install ngx-infinite-scroll --save --force -->

<h3 align='center' class="text-decoration-underline">Employee Record</h3>
  <div class="search-results"
      infinite-scroll
      [infiniteScrollDistance]="1"
      [infiniteScrollUpDistance]="2"
      [infiniteScrollThrottle]="300"
      (scrolled)="onScrollDown()">
      <div class="container">


        <div class="row">
          <div *ngFor="let i of data" class="col-sm-4">
            <div style="margin-top: 10px;" class="card">

              <img *ngIf="!i.profile" class="card-img-top" style="width: 100%; height: 250px;" src="assets/images/warning.png" alt="Card image cap">
              <a [href]="i.profile" target="_blank">
                <img *ngIf="i.profile" class="card-img-top" style="width: 100%; height: 250px;" [src]="i.profile" alt="Card image cap">
              </a>
              <div class="card-body">
                <h5 class="card-title">{{i.name}}</h5>
                <hr>
                <b>Email: </b> {{i.email}}
                <br>
                <b>Role: </b> {{i.role}}
                <br>
                <b>Contact: </b> {{i.contact}}

                <div class="text-center">
                  <button class="btn btn-sm btn-success m-1" (click)="onEdit(i.id)">Edit</button>
                  <button class="btn btn-sm btn-danger m-1" (click)="onDelete(i.id)">Delete</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>
