<div class="form-check" *ngIf="data">

  <div class="mb-2">
    <label>
      <input class="form-check-input" type="checkbox" [(ngModel)]="masterSelected" (change)="checkUncheckAll()" />
      {{masterSelected?'Unselect ':'Select '}} All
    </label>
  </div>

  <div class="mb-1" *ngFor="let i of data">
    <label>
      <input class="form-check-input" type="checkbox" [(ngModel)]="i.isSelected" value="{{i.id}}"
      (change)="isAllSelected()" />
      {{i.name}}
    </label>
  </div>



  <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
  <div>
    <small class="text-danger">{{errMsg}}</small>
  </div>
</div>
<div *ngIf="!data" class="text-danger">Loading</div>
