<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">Google Maps</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="ml-auto">
      <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/basic-map">Map 1</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/direction">Map 2</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/dynamic-direction">Map 3</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/map-advance">Map 4</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/map-destination">Map 5</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="bg-dark text-white text-center py-3 mt-5">
  <p>© 2024 Map Project. All rights reserved.</p>
</footer>
