<!-- need to import "ReactiveFormsModule" in app.module.ts -->

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-4">
          <app-loader *ngIf="isSubmitted"></app-loader>

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h3 class="fw-bold mb-2 text-uppercase text-center">Login</h3>
            <p class="text-white-50 mb-5 text-center">Please enter your credentials below!</p>

            <div class="form-group mb-4">
              <input type="email" class="form-control form-control-lg" formControlName="email"/>
              <small *ngIf="!getEmail.valid && (getEmail.touched || isSubmitted)" class="text-danger text-start">
                <span *ngIf="getEmail.hasError('required')">Email field is required.</span>
              </small>
            </div>

            <div class="form-outline form-white mb-4">
              <input type="password" class="form-control form-control-lg" formControlName="password"/>
              <small *ngIf="!getPassword.valid && (getPassword.touched || isSubmitted)" class="text-danger text-start">
                <span *ngIf="getPassword.errors?.['required']">Password field is required.</span>
              </small>
            </div>

            <p class="small text-end"><a class="text-white-50" routerLink="/forgot">Forgot password?</a></p>

            <div class="text-center">
              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
            </div>
          </form>

          <hr>
          <div>
            <p class="mb-0 text-start">Don't have an account?
              <a routerLink="/register" class="text-white-50 fw-bold">Sign Up</a>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

