.small-mat-icon{
  font-size: 1em !important; padding-top: 9px;
}

.cursor-pointer{
  cursor: pointer;
}

.nav-mat-icon{
  font-size: 1.3em !important; padding-top: 5px;
}

.table-mat-icon{
  font-size: 1.3em !important; padding-top: 10px;
}
