<div class="container mt-4">

  <span *ngIf="responseMsg" [ngClass]="responseMsg?.class">{{responseMsg?.msg}}</span>
  <h4 class="text-center text-decoration-underline">Dropbox CRUD</h4>


  <div class="mb-4">
    <label class="form-label">Files</label>
    <input type="file" #fileInput class="form-control" multiple (change)="onFileChange($event)" />

    <div class="text-end mt-3">
      <button class="btn btn-primary" (click)="onUpload()">Upload</button>
    </div>
  </div>

  <hr>

  <button class="btn btn-info btn-sm float-end" (click)="loadFiles()">Refresh</button>

  <!-- Files List Section -->
  <h2 class="mt-4">Uploaded Files</h2>
  <div *ngIf="selectedFiles.length === 0" class="alert alert-info">No files found.</div>
  <ul class="list-group">
    <li *ngFor="let file of selectedFiles" class="list-group-item">
      <span>{{ file.name }}</span>
      <button class="btn btn-danger float-end btn-sm" (click)="deleteFile(file.path_lower)">Delete</button>
      <button class="btn btn-success float-end btn-sm  me-2" (click)="downloadFile(file.path_lower)">Download</button>
    </li>
  </ul>
</div>
