<div class="row fs-5">
  <h3 class="text-center text-decoration-underline"><b>Dynmic Grid system using Angular Gridster2</b></h3>


  <div class="mb-3">
    <br>
    <b>Need to run the following command;</b>
    <br>
    <code class="ms-3">{{'npm i angular-gridster2@16.0.0 --save'}}</code>
  </div>


  <div class="mb-3">
    <b>Import following module in app.module.ts "imports" array;</b>
    <br>
    <code class="ms-3">{{"import { GridsterModule } from 'angular-gridster2'"}}</code>
    <br>
    <code class="ms-3">{{"imports: [GridsterModule, ...]"}}</code>
  </div>

  <div class="mb-3">
    <b>Get help using given link;</b>
    <br>
    <a class="ms-3" href="https://tiberiuzuld.github.io/angular-gridster2/" target="_blank">
      https://tiberiuzuld.github.io/angular-gridster2/
    </a>
  </div>


</div>
