<div class="container mt-2">
  <h3 class="text-center text-decoration-underline mb-3">Image Compressor</h3>
  <div class="row justify-content-center">

    <div class="col-md-6">
      <div class="input-group mb-3">
        <input type="file" #fileInput class="form-control" (change)="onFileSelected($event)" accept="image/*"
        [disabled]="compressedImageUrl"/>
        <button class="btn btn-primary" (click)="compressImage()" [disabled]="!originalImage || isLoading"
        *ngIf="!compressedImageUrl">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
          <span *ngIf="!isLoading">Compress</span>
        </button>
        <button class="btn btn-danger" (click)="clearImages()" *ngIf="compressedImageUrl">Clear</button>
      </div>

    </div>
  </div>

  <div class="row my-4">

    <h4 class="text-center text-danger mt-5" *ngIf="!originalImageUrl && !compressedImageUrl">Please Upload Image</h4>

    <div class="col-md-6" *ngIf="originalImageUrl">
      <div class="text-center">
        <h5>
          Original
          <span class="float-end" style="cursor: pointer;" title="Clear Image"
          (click)="clearImages()">❌</span>
        </h5>
        <span>Size: {{ originalImageSize}}</span>
        <br>
        <img [src]="originalImageUrl" class="img-fluid border rounded" alt="Original Image" />
      </div>
    </div>


    <div class="col-md-6">
      <div *ngIf="isLoading">
        <div class="d-flex justify-content-center" style="margin-top: 100px;">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>

      <div *ngIf="compressedImageUrl && !isLoading">
        <div class="text-center">
          <h5>
            Compressed
            <span class="float-end" style="cursor: pointer;" title="Download Compressed Image"
            (click)="downloadCompressedImage()">⬇️</span>
          </h5>
          <span>Size: {{ compressedImageSize }} ({{ compressionRate }})</span>
          <br>
          <img [src]="compressedImageUrl" class="img-fluid border rounded" alt="Compressed Image" />
        </div>
      </div>

    </div>
  </div>
</div>
